<div class="confirm-popup">
  <button class="close" mat-button [mat-dialog-close]="false">X</button>
  <h2 mat-dialog-title *ngIf="title">
    <mat-icon matPrefix> smartphone </mat-icon> {{ title }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <!-- <div class="confirmation-content">
      {{ content }}
    </div> -->
    <div class="otp-content">
      <p>Enter OTP which is sent to {{ data.mobileNo }}</p>
      <div class="col-md-12">
        <ng-otp-input
          [formCtrl]="otpListCtrl"
          [config]="config"
          #ngOtpInput
        ></ng-otp-input>
      </div>
      <!-- <div class="timer-wrap">
        <span class="timer"> {{ timeLeft }} </span> [mm:ss]
      </div>
      <p>Didn't receive the OTP? <span class="baseColor">Resend OTP</span></p> -->
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="btn-wrap">
    <button
      mat-flat-button
      color="primary"
      (click)="sendOtp()"
      [disabled]="disableOtpBtn"
    >
      <span *ngIf="disableOtpBtn" matBadge="{{ timeLeft }}"></span>
      {{ otpBtnText }}
    </button>
    &nbsp;&nbsp;
    <button
      mat-flat-button
      color="primary"
      (click)="submitOtp()"
      *ngIf="disableOtpBtn"
    >
      Verify & Proceed
    </button>
    <!-- <button mat-stroked-button color="primary" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-flat-button color="primary" (click)="verify()">
      Verify & Proceed
    </button> -->
  </mat-dialog-actions>
</div>
