<div class="container-fluid bg">
  <div class="row">
    <div class="aon-search2-bar-wrap">
      <div class="container">
        <div class="aon-search2-row">
          <form class="aon-search2-form no-p-lr row justify-content-between">
            <div class="col-md-5">
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Search doctors, clinics, hospitals, etc.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">local_hospital</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field
                appearance="outline"
                class="full-width-field border-red"
              >
                <mat-label>Search Location.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">my_location</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="site-button"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aon-search-info-wrap">
  <div class="container">
    <h3 class="aon-searchInfo-title">
      {{ doctorsListing.length }}
      <span *ngIf="doctorsListing.length == 1">Doctor</span>
      <span *ngIf="doctorsListing.length > 1 || doctorsListing.length == 0"
        >Doctors</span
      >
      available
    </h3>
    <div class="aon-searchInfo-text">
      <i class="fa fa-check"></i> Book appointments with minimum wait-time &amp;
      verified doctor details
    </div>
  </div>
</div>
<div class="aon-page-jobs-wrap">
  <div class="container">
    <div class="row">
      <!-- Left part start -->
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <!-- COLUMNS 1 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Viniita Jhuntra</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUMNS 2 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Flores Emily</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUMNS 3 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Steven Ford</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUMNS 4 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Samuel Daniels</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUMNS 5 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Viniita Jhuntra</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUMNS 6 -->
          <div class="col-lg-6 col-md-12">
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray"></span>
                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="feather-thumbs-up"></i>
                  <span class="bage-green">93%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a href="profile1.html"
                    ><img
                      src="../../../assets/images/profile-pic.jpg"
                      alt="Medpal"
                  /></a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a href="profile1.html" class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. Ann Coleman</h3>
                  <div class="sf-doct-info">
                    <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
                  </div>
                  <div class="sf-doc-exp m-b20">33 year experience overall</div>
                  <a href="booking-form.html" class="site-button">
                    Book Appointment
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="site-pagination s-p-center">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"
                  ><i class="fa fa-chevron-left"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-ellipsis-h"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">11</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Left part END -->

      <!-- Side bar start -->
      <div class="col-lg-4 col-md-12">
        <aside class="side-bar">
          <!-- Search Filter-->
          <div class="sf-siderbar-map">
            <div class="search-filter-wrap">
              <!-- COLUMNS 1 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Video Consult</h4>
                <div class="search-filter-content">
                  <div class="checkbox sf-radio-checkbox sf-radio-input">
                    <input id="lau1" name="abc" value="five" type="checkbox" />
                    <label for="lau1">Yes</label>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 2 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Select Doctors</option>
                    <option>Available Today</option>
                    <option>Available Tommorow</option>
                    <option>Available in next 7 days</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 3 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Gender</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Male Doctor</option>
                    <option>Female Doctor</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 4 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Consultation Fee</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Free</option>
                    <option>100-200</option>
                    <option>200-500</option>
                    <option>500+</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 5 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Sort By</option>
                    <option>Earliest Available</option>
                    <option>Price - Low to High</option>
                    <option>Price - High to Low</option>
                    <option>Years of Experience</option>
                    <option>Recommendation</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!-- Side bar END -->
    </div>
  </div>
</div>
