<div class="container-fluid bg">
  <div class="row">
    <div class="aon-search2-bar-wrap">
      <div class="container mb-2">
        <form
          class="row justify-content-center my-3"
          [formGroup]="firstFormGroup"
        >
          <div class="col-md-8 matformfield">
            <mat-form-field
              appearance="outline"
              class="full-width-field border-red"
            >
              <mat-label class="matlabel">Type Your Location here...</mat-label>
              <input
                type="text"
                formControlName="addSearch"
                matInput
                ngx-google-places-autocomplete
                [options]="options"
                class="searchmain"
                (onAddressChange)="AddressChange($event)"
              />
              <mat-icon matPrefix class="my-icon" matTooltipPosition="above"
                ><span class="material-symbols-outlined">
                  travel_explore
                </span></mat-icon
              >
              <mat-icon
                matSuffix
                matTooltip="You are searching locations in India"
                matTooltipPosition="above"
                class="infomargin"
                >info</mat-icon
              >
            </mat-form-field>
            <a
              *ngIf="f['addSearch'].value"
              href="javascript:void(0)"
              class="sf-doct-infoedited font-monospace text-decoration-underline"
              (click)="clearSearch()"
              >Clear Search <i class="fa fa-location-arrow"></i
            ></a>
          </div>
          <div class="col-md-3">
            <!-- <button (click)="getLocation()" class="btn pt-3">
              <mat-icon
                matTooltip="Get Current Location"
                matTooltipPosition="above"
                >my_location</mat-icon
              >Get Current Location
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="aon-search-info-wrap pt-3">
  <div class="container">
    <h3 class="aon-searchInfo-title">
      {{ doctorsListing?.length }}
      <span *ngIf="doctorsListing?.length == 1">Doctor</span>
      <span *ngIf="doctorsListing?.length > 1 || doctorsListing?.length == 0"
        >Doctors</span
      >
      Available
      <span *ngIf="locationText"
        >in Your Location <i class="fa fa-globe"></i
      ></span>
    </h3>
    <div class="aon-searchInfo-text">
      <i class="fa fa-check"></i> Book appointments with minimum wait-time &amp;
      verified Doctor details
    </div>
    <form [formGroup]="secondFormGroup">
      <div class="row d-flex mt-4" *ngIf="maindoctorsArr?.length > 0">
        <div class="col-lg-2">
          <mat-form-field appearance="outline">
            <mat-label><i class="fa fa-user-plus"></i> Doctor Type</mat-label>
            <mat-select
              (selectionChange)="docTypeFilter($event.value)"
              formControlName="dtFilter"
            >
              <mat-option value="Show All"> Show All </mat-option>
              <mat-option *ngFor="let dt of docType" [value]="dt.name">
                {{ dt.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <mat-form-field appearance="outline">
            <mat-label><i class="fa fa-users"></i> Gender</mat-label>
            <mat-select
              (selectionChange)="applyFilter($event.value)"
              formControlName="genderFltr"
            >
              <mat-option *ngFor="let gen of gender" [value]="gen">
                {{ gen }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3" *ngIf="g['dtFilter'].value === 'Allopathy'">
          <mat-form-field appearance="outline">
            <mat-label><i class="fa fa-user-md"></i> Specialisation</mat-label>
            <mat-select
              (selectionChange)="applySpecialisationFilter($event.value)"
              formControlName="splFilter"
            >
              <mat-option *ngFor="let spl of docSpl" [value]="spl.name">
                {{ spl.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 py-3">
          <mat-chip-list aria-label="Reset">
            <mat-chip
              color="primary"
              selected
              class="chiplist"
              (click)="mainReset()"
            >
              <mat-icon class="maticoCloor">close</mat-icon>
              Reset Filters</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>
    </form>
  </div>
  <div class="aon-page-jobs-wrap pt-3">
    <div class="container">
      <div class="row">
        <!-- Left part start -->
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <!-- COLUMNS 1 -->
            <div
              class="col-lg-4 col-md-12"
              *ngFor="let doc of doctorsListing; let i = index"
            >
              <div class="sf-grid-view">
                <div class="sf-grid-head">
                  <div class="sf-medi-rate">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                    <span class="sf-rating-lable rupee fw-bold"
                      >₹ {{ doc.ClinicOneTimings.ConsultationFeesC1 }}</span
                    >
                  </div>
                  <div class="sf-medi-like">
                    <i class="fa fa-thumbs-up"></i>
                    <!-- <span class="bage-green">88%</span> -->
                  </div>
                </div>
                <div class="sf-grid-view-mid">
                  <div class="sf-grid-media">
                    <a
                      href="javascript:void(0)"
                      [routerLink]="['/doctors-profile']"
                      [queryParams]="{ doctor: doc.firstName }"
                      ><img
                        *ngIf="doc.image.imageUrl"
                        src="{{ doc.image.imageUrl }}"
                        alt="Medpal"
                      />
                      <img
                        *ngIf="!doc.image.imageUrl"
                        src="../../../assets/images/user-doc.png"
                        alt="Medpal"
                      />
                    </a>
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="sf-grid-info text-break">
                    <a
                      href="javascript:void(0)"
                      [routerLink]="['/doctors-profile']"
                      [queryParams]="{ doctor: doc.firstName }"
                      class="sf-doc-profile-view"
                      >View Profile</a
                    >
                    <h3 class="text-capitalize">
                      Dr. {{ doc.firstName }}
                      <span *ngIf="doc.lastName">{{ doc.lastName }}</span>
                    </h3>
                    <p *ngIf="doc.graduation.DoctorType.name" class="m-0">
                      {{ doc.graduation.DoctorType.name }}
                    </p>
                    <div
                      class="sf-doct-infoedited"
                      *ngIf="doc.graduation.Graduation === 'UG'"
                    >
                      <span> {{ doc.graduation.qualificationUG.sName }}</span>
                      (General)
                    </div>
                    <div
                      class="sf-doct-infoedited"
                      *ngIf="doc.graduation.Graduation === 'PG'"
                    >
                      <span>{{ doc.graduation.qualificationPG.sName }} - </span>
                      ({{ doc.graduation.specialisationPG.name }})
                    </div>
                    <div class="sf-doc-exp">
                      {{ doc.graduation.overallExperience }} - Years experience
                      overall
                    </div>
                    <div class="sf-doc-exp m-b20 text-capitalize">
                      {{ doc.ClinicOneTimings.ClinicName }} -
                      {{ doc.ClinicOneTimings.clinicArea }}
                    </div>
                    <button
                      (click)="openModal(doc, 'clinic1')"
                      *ngIf="doc.ClinicOneTimings.active"
                      class="site-button"
                    >
                      <i class="fa fa-calendar"></i> Book Appointment
                    </button>
                    <!-- Example single danger button -->
                    <!-- <div
                    class="btn-group"
                    *ngIf="
                      doc.ClinicOneTimings.active && doc.ClinicTwoTimings.active
                    "
                  >
                    <button
                      type="button"
                      class="site-button dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-calendar"></i> Book Appointment
                      <span class="badge bg-light text-dark"
                        >2 Clinics found</span
                      >
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic1')"
                          >{{ doc.ClinicOneTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicOneTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicOneTimings.clinicArea }}</span
                          ></a
                        >
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic2')"
                          >{{ doc.ClinicTwoTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicTwoTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicTwoTimings.clinicArea }}</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Left part END -->

        <!-- Side bar start -->
        <!-- <div class="col-lg-4 col-md-12">
        <aside class="side-bar">
          <div class="sf-siderbar-map">
            <div class="search-filter-wrap">
              <div class="search-filter-box">
                <h4 class="search-filter-title">Video Consult</h4>
                <div class="search-filter-content">
                  <div class="checkbox sf-radio-checkbox sf-radio-input">
                    <input id="lau1" name="abc" value="five" type="checkbox" />
                    <label for="lau1">Yes</label>
                  </div>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Select Doctors</option>
                    <option>Available Today</option>
                    <option>Available Tommorow</option>
                    <option>Available in next 7 days</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Gender</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Male Doctor</option>
                    <option>Female Doctor</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Consultation Fee</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Free</option>
                    <option>100-200</option>
                    <option>200-500</option>
                    <option>500+</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Sort By</option>
                    <option>Earliest Available</option>
                    <option>Price - Low to High</option>
                    <option>Price - High to Low</option>
                    <option>Years of Experience</option>
                    <option>Recommendation</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div> -->
        <!-- Side bar END -->
      </div>
    </div>
  </div>
  <appointments [data]="inputToChild"></appointments>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropGmap"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabelgmap"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelgmap">
          Enter Your Location <i class="fa fa-map"></i>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row justify-content-center my-3"
          [formGroup]="firstFormGroupModal"
        >
          <div class="col-md-12 matformfield">
            <mat-form-field
              appearance="outline"
              class="full-width-field border-red"
            >
              <mat-label class="matlabel">Type Your Location here...</mat-label>
              <input
                type="text"
                formControlName="addSearch"
                matInput
                ngx-google-places-autocomplete
                [options]="options"
                class="searchmain"
                (onAddressChange)="AddressChangeModal($event)"
              />
              <mat-icon matPrefix class="my-icon" matTooltipPosition="above"
                ><span class="material-symbols-outlined">
                  travel_explore
                </span></mat-icon
              >
              <mat-icon
                matSuffix
                matTooltip="You are searching locations in India"
                matTooltipPosition="above"
                class="infomargin"
                >info</mat-icon
              >
            </mat-form-field>
            <a
              *ngIf="f['addSearch'].value"
              href="javascript:void(0)"
              class="sf-doct-infoedited font-monospace text-decoration-underline"
              (click)="clearSearch()"
              >Clear Search <i class="fa fa-location-arrow"></i
            ></a>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="site-button">
          Search <i class="fa fa-user-md" aria-hidden="true"></i> Doctors By
          Your Area Name/Location
        </button>
      </div>
    </div>
  </div>
</div>
