.bg {
  background-color: #fff;
}
.searchmain {
  padding: 0px 0 0px 20px;
}

.matlabel {
  padding-left: 20px;
}
.getcLocation {
  color: #000;
}
.chiplist {
  cursor: pointer !important;
}
.sf-doct-infoedited {
  font-size: 13px;
  color: #ee4c9b !important;
  font-weight: bold;
}
::ng-deep .matformfield .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .pac-item {
  cursor: pointer;
  padding: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px !important;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #999;
}
.rupee {
  font-size: 11px !important;
}
