<!-- <div class="container-fluid bg">
  <div class="row">
    <div class="aon-search2-bar-wrap">
      <div class="container">
        <div class="aon-search2-row">
          <form class="aon-search2-form no-p-lr row justify-content-between">
            <div class="col-md-5">
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Search doctors, clinics, hospitals, etc.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">local_hospital</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field
                appearance="outline"
                class="full-width-field border-red"
              >
                <mat-label>Search Location.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">my_location</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="site-button"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="aon-search-info-wrap">
  <div class="container">
    <h3 class="aon-searchInfo-title">
      {{ doctorsListing.length }}
      <span *ngIf="doctorsListing.length == 1">Doctor</span>
      <span *ngIf="doctorsListing.length > 1 || doctorsListing.length == 0"
        >Doctors</span
      >
      available
    </h3>
    <div class="aon-searchInfo-text">
      <i class="fa fa-check"></i> Book appointments with minimum wait-time &amp;
      verified doctor details
    </div>
  </div>
</div>
<div class="aon-page-jobs-wrap">
  <div class="container">
    <div class="row">
      <!-- Left part start -->
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <!-- COLUMNS 1 -->
          <div
            class="col-lg-4 col-md-12"
            *ngFor="let doc of doctorsListing; let i = index"
          >
            <div class="sf-grid-view">
              <div class="sf-grid-head">
                <div class="sf-medi-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>

                  <span class="sf-rating-lable">3 Feedback</span>
                </div>
                <div class="sf-medi-like">
                  <i class="fa fa-thumbs-up"></i>
                  <span class="bage-green">88%</span>
                </div>
              </div>
              <div class="sf-grid-view-mid">
                <div class="sf-grid-media">
                  <a
                    href="javascript:void(0)"
                    [routerLink]="['/medpal/doctors-profile']"
                    [queryParams]="{ doctor: doc.firstName }"
                    ><img
                      *ngIf="doc.image.imageUrl"
                      src="{{ doc.image.imageUrl }}"
                      alt="Medpal"
                    />
                    <img
                      *ngIf="!doc.image.imageUrl"
                      src="../../../assets/images/user-doc.png"
                      alt="Medpal"
                    />
                  </a>
                  <i class="fa fa-check"></i>
                </div>
                <div class="sf-grid-info">
                  <a
                    href="javascript:void(0)"
                    [routerLink]="['/medpal/doctors-profile']"
                    [queryParams]="{ doctor: doc.firstName }"
                    class="sf-doc-profile-view"
                    >View Profile</a
                  >
                  <h3>Dr. {{ doc.firstName }}</h3>
                  <p *ngIf="doc.graduation.DoctorType.name" class="m-0">
                    {{ doc.graduation.DoctorType.name }}
                  </p>
                  <div
                    class="sf-doct-info"
                    *ngIf="doc.graduation.Graduation === 'UG'"
                  >
                    <span> {{ doc.graduation.qualificationUG.sName }}</span>
                    (General)
                  </div>
                  <div
                    class="sf-doct-info"
                    *ngIf="doc.graduation.Graduation === 'PG'"
                  >
                    <span>{{ doc.graduation.qualificationPG.sName }} - </span>
                    ({{ doc.graduation.specialisationPG.name }})
                  </div>
                  <div class="sf-doc-exp m-b20">
                    {{ doc.graduation.overallExperience }} - Years experience
                    overall
                  </div>
                  <a
                    href="javascript:void(0)"
                    (click)="openModal(doc, 'clinic1')"
                    *ngIf="
                      doc.ClinicOneTimings.active &&
                      !doc.ClinicTwoTimings.active
                    "
                    class="site-button"
                  >
                    <i class="fa fa-calendar"></i> Book Appointment
                  </a>
                  <!-- Example single danger button -->
                  <div
                    class="btn-group"
                    *ngIf="
                      doc.ClinicOneTimings.active && doc.ClinicTwoTimings.active
                    "
                  >
                    <button
                      type="button"
                      class="site-button dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-calendar"></i> Book Appointment
                      <span class="badge bg-light text-dark"
                        >2 Clinics found</span
                      >
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic1')"
                          >{{ doc.ClinicOneTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicOneTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicOneTimings.ClinicLocation.name }}</span
                          ></a
                        >
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic2')"
                          >{{ doc.ClinicTwoTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicTwoTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicTwoTimings.ClinicLocation.name }}</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Left part END -->

      <!-- Side bar start -->
      <!-- <div class="col-lg-4 col-md-12">
        <aside class="side-bar">
          <div class="sf-siderbar-map">
            <div class="search-filter-wrap">
              <div class="search-filter-box">
                <h4 class="search-filter-title">Video Consult</h4>
                <div class="search-filter-content">
                  <div class="checkbox sf-radio-checkbox sf-radio-input">
                    <input id="lau1" name="abc" value="five" type="checkbox" />
                    <label for="lau1">Yes</label>
                  </div>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Select Doctors</option>
                    <option>Available Today</option>
                    <option>Available Tommorow</option>
                    <option>Available in next 7 days</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Gender</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Male Doctor</option>
                    <option>Female Doctor</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Consultation Fee</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Free</option>
                    <option>100-200</option>
                    <option>200-500</option>
                    <option>500+</option>
                  </select>
                </div>
              </div>
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Sort By</option>
                    <option>Earliest Available</option>
                    <option>Price - Low to High</option>
                    <option>Price - High to Low</option>
                    <option>Years of Experience</option>
                    <option>Recommendation</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div> -->
      <!-- Side bar END -->
    </div>
  </div>
</div>
<appointments [data]="inputToChild"></appointments>
