.bg {
  background-color: #fff;
}
.searchmain {
  padding: 0px 0 0px 20px;
}

.matlabel {
  padding-left: 20px;
}
.getcLocation {
  color: #000;
}
.chiplist {
  cursor: pointer !important;
}
.sf-doct-infoedited {
  font-size: 13px;
  color: #ee4c9b !important;
  font-weight: bold;
}

.sf-doct-infoedited1 {
  font-size: 13px;
  color: #6052b1 !important;
  font-weight: bold;
}
