<div class="cus-top-nav">
  <div class="container">
    <ul class="cus-nav row">
      <li class="col active">
        <a href="javascript:void(0)">View/Edit Profile</a>
      </li>
      <li class="col">
        <a href="javascript:void(0)">Appointments</a>
      </li>
      <!-- <li class="col">
        <a href="#">Medical Records</a>
      </li>
      <li class="col"><a href="#">My Feedback</a></li> -->

      <li class="col"><a href="javascript:void(0)">Change Password</a></li>
    </ul>
  </div>
</div>
