<div class="cus-top-nav">
  <div class="container">
    <ul class="cus-nav row">
      <li class="col" [routerLinkActive]="['active']">
        <a href="javascript:void(0)" [routerLink]="['/patient/profile']"
          >View/Edit Profile</a
        >
      </li>
      <li class="col" [routerLinkActive]="['active']">
        <a href="javascript:void(0)" [routerLink]="['/patient/Appointments']"
          >Appointments</a
        >
      </li>
      <li class="col" [routerLinkActive]="['active']">
        <a
          href="javascript:void(0)"
          [routerLink]="['/patient/profile-reset-password']"
          >Change Password</a
        >
      </li>
    </ul>
  </div>
</div>
