<footer class="footer-wrapper baseColor">
  <div class="container">
    <div class="row">
      <!-- COLUMNS 1 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-link">
          <h4 class="foot-title">About</h4>
          <p>
            Your 90% of patients don't turn up again if their appointment is not
            honoured.
            <a
              href="javascript:void(0)"
              [routerLink]="['aboutus']"
              class="fw-bold primary"
              >read more...</a
            >
          </p>
          <ul class="aon-socila-icon d-flex">
            <li>
              <a href="javascript:void(0)">
                <mat-icon
                  aria-hidden="false"
                  aria-label="facebook"
                  class="primary"
                  >facebook</mat-icon
                >
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;
          </ul>
        </div>
      </div>
      <!-- COLUMNS 2 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-cities">
          <h4 class="foot-title">Quick Links</h4>
          <ul>
            <li>
              <a href="javascript:void(0);" [routerLink]="['aboutus']">
                <i class="fa fa-info-circle icosize"></i>&nbsp;&nbsp;About</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar icosize"></i
                >&nbsp;&nbsp;Appointments</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-flask icosize"></i>&nbsp;&nbsp;Lab Test</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-medkit icosize"></i>&nbsp;&nbsp;Pharmacy</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- COLUMNS 3 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-categories">
          <h4 class="foot-title">Links</h4>
          <ul>
            <li>
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdroptc"
                ><i class="fa fa-handshake icosize"></i>&nbsp;&nbsp;Terms &
                Conditions</a
              >
            </li>
            <li>
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdroptc"
                ><i class="fa fa-user-secret icosize"></i>&nbsp;&nbsp;Privacy
                Policy</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-volume-control-phone icosize"></i
                >&nbsp;&nbsp;Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- COLUMNS 4 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-contact">
          <h4 class="foot-title">Address</h4>
          <p class="footeraddress">
            Weisermanner Healthcare Pvt Ltd,<br />
            No.3137, 7th main, HAL, 2nd Stage,<br />
            Indiranagar, Bengaluru,<br />
            Karnataka 560 008.<br />
            Phone: +91 81055 50944.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-line">
        <div class="aon-foo-copyright">
          <span>&copy; {{ year }} - Weisermanner. All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<button class="scroltop" style="display: inline-block" (click)="onActivate()">
  <span class="fa fa-angle-up" id="btn-vibrate"></span>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdroptc"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdroptcLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdroptcLabel">
          Terms and Conditions / Privacy Policy
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Terms and Conditions : </strong>By accepting the terms and
          conditions contained herein, you represent and warrant the following:
        </p>
        <p>
          1. These terms and conditions (&ldquo;<strong
            >Terms and Conditions</strong
          >&rdquo;) govern the relationship between Weisermanner Healthcare
          Private Limited (WHPL), a company incorporated in India under the
          Companies Act, 1956 and having its registered office at House No.
          3137, 7th main, Indiranagar, Bangalore, India (&ldquo;WHPL&rdquo;,
          &ldquo;we&rdquo;, &ldquo;our&rdquo;, &ldquo;Company&rdquo; or
          &ldquo;us&rdquo;), and you (&ldquo;Doctor&rdquo;, &ldquo;you&rdquo; or
          &ldquo;your&rdquo;) for use of the application owned and operated by
          WHPL by the name Medpal.live.
        </p>
        <p>
          2. The Application may be used by you to provide the services listed
          below to the user of the Application, including to enable finding,
          accessing, managing and organizing information, confirming and
          managing consultations, confirming and managing online video/audio
          consultations, confirming and managing appointments, generating
          prescriptions, generating and storing electronic medical records of
          the users, billing invoices, and storing other relevant information.
        </p>
        <p>
          3. We may revise and update these Terms and Conditions from time to
          time in our sole discretion. All changes are effective immediately
          when we post them. It is strongly recommended that you read and
          understand these Terms and Conditions carefully, as by accessing the
          Application, you agree to be bound by the same and agree that it
          constitutes an agreement between you and the Company. If you do not
          agree with these Terms and Conditions, you should not use or access
          the Application for any purpose whatsoever.
        </p>
        <p>
          4. It is therefore strongly recommended that you review these Terms
          and Conditions, as available on the Application, each time you access
          and/or use the Application.
        </p>
        <p>
          5.You are capable of entering into a legally binding agreement; and
          You are not a persons &ldquo;incompetent to contract&rdquo; within the
          meaning of the Indian Contract Act, 1872 and not barred or otherwise
          legally prohibited from accessing or using the Application under the
          laws of India.
        </p>
        <p>
          6. All content on the Application shall be saved and stored
          electronically on a secure cloud database/server managed by a
          third-party (&ldquo;Service Provider&rdquo;). WHPL shall take best
          efforts to ensure that the Service Provider uses appropriate levels of
          encryptions to protect data and takes all necessary precautions.
        </p>
        <p>
          7. WHPL is the proprietary developer and owner of Medpal.live, which
          shall mean the mobile application by the name Medpal.live, and all
          variants, tools, editions, add-ons, and ancillary products or services
          of Medpal.live (including all files and images contained therein or
          generated by the software, and accompanying data, herein referred to
          individually or collectively as &ldquo;Application&rdquo;).
        </p>
        <p>
          8. WHPL reserves the right to terminate or refuse your registration,
          or refuse to permit access to the Application, if: <br />(i) it is
          discovered or brought to notice that you do not conform to the
          aforesaid criteria, or <br />(ii) the Company has reason to believe
          that the eligibility criteria is not met by a user, or the user may
          breach the terms of these Terms and Conditions.
        </p>
        <p class="fw-bold">9. General Terms of Use</p>
        <p>
          9.1. The Application is provided as a &lsquo;Software as a
          Service&rsquo; (SaaS) for the use of the Doctors presently through the
          internet. WHPL is not responsible for and does not deal with any
          patient managed by you through the Application and only provides the
          software to you through the Application.
        </p>
        <p>
          9.2. To the extent you use the Application and/or download the
          Application, the Application will be deemed to be licensed to you by
          WHPL, for providing your services to the patient.
        </p>
        <p>
          9.3. The Application is offered by WHPL on as-is basis ONLY 9.4.
          Subject to the privacy policy, any information provided by you to WHPL
          is kept safe.
        </p>
        <p><strong>10. Account Login </strong></p>
        <p>
          10.1. During the login/ process or anytime thereafter, you may be
          asked to provide information such as your name, phone number, date of
          birth, and/or other registration information.
        </p>
        <p>
          10.2. You acknowledge that all information provided by you during the
          process of your registration are true and correct and will be verified
          by us.
        </p>
        <p>
          10.3. It is your responsibility to keep your account updated. You may
          choose to do so either by modifying or updating your account
          information by reach us on&nbsp;<a
            class="fw-bold"
            href="mailto:medpal.live@gmail.com"
            aria-invalid="true"
          >
            medpal.live@gmail.com </a
          >by sending an email.
        </p>
        <p><strong>11. License and Application Access </strong></p>
        <p>
          11.1. You shall not be permitted to sub license or transfer any of
          your rights hereunder including, without limitation, access to the
          Application.
        </p>
        <p><strong>12.Restrictions on Use of License </strong></p>
        <p>
          12.1. You shall not directly or indirectly copy or reproduce all or
          any part of the Application, whether electronically, mechanically or
          otherwise, in any form including, but not limited to, the copying of
          presentation, style or organization.
        </p>
        <p>
          12.2. You shall use the Application solely for its intended purpose
          and shall not use the Application for the benefit of any third party.
        </p>
        <p><strong>13. Doctor&rsquo;s Obligations </strong></p>
        <p>
          13.1. You agree and understand that at the time of registration on the
          Application, a username and password shall be generated which is
          enable you to access your unique and personal dashboard on the
          Application interface and view activity. You shall not share the
          username and password with other persons and that you shall be liable
          to indemnify WHPL for any loss or damage suffered as a result of any
          unauthorized use.
        </p>
        <p>
          13.2. You shall be solely responsible for: (i) complying with all
          applicable laws, rules and regulations at all times in connection with
          use of the Application, including without limitation procuring all
          consent of other persons in connection with use of third party
          information and/or data; and (ii) maintaining all passwords and access
          codes to the Application, and refraining from sharing or otherwise
          permitting third parties to use any such passwords and/or access codes
          to access or use the Application.
        </p>
        <p><strong>14. WHPL Rights </strong></p>
        <p>
          14.1. WHPL reserves the right to add new functionality, remove
          existing functionality, and modify existing functionality to its
          Application as and when it deems fit, and make any such changes
          available in newer versions of Application at its discretion.
        </p>
        <p>
          14.2. If WHPL suspects any illegal, wrongful or fraudulent activity on
          the Application by you, WHPL reserves the right to inform the relevant
          government or law enforcement authorities. WHPL will cooperate in all
          investigative procedures or requests for access / information
          initiated by any such government or law enforcement authorities.
        </p>
        <p>
          <strong>15. Data Recording, Storage, Encryption &amp; Usage </strong>
        </p>
        <p>
          15.1. The information stored on the Application may be entered by you
          or your patient. The information collected on the Application may be
          stored on your mobile device as well as on a third-party cloud
          platform (&ldquo;Cloud Service Provider&rdquo;) or server
          (&ldquo;Storage Service Provider&rdquo;).
        </p>
        <p>
          15.2. under normal circumstances, WHPL will not access any information
          that identifies the patient and shall either omit, mask or anonymize
          the patients personal information at the time of quality evaluation
        </p>
        <p><strong>16. Intellectual Property Rights </strong></p>
        <p>
          16.1. The Application is protected by copyright, trademarks, patents,
          trade secret and/or other intellectual property laws. WHPL owns the
          title, copyright and other worldwide intellectual property rights in
          the Application. These terms and conditions do not grant you any
          rights to the intellectual property rights in the Application. Nothing
          contained herein shall authorize you to use, apply, invade or in any
          manner exploit or infringe the intellectual property rights of the
          Company without prior written consent.
        </p>
        <p>
          16.2. When you upload, submit, store, send or receive content to or
          through the Application, you give us a worldwide, perpetual license to
          use, host, store, reproduce, modify, create derivative works (such as
          those resulting from translations, adaptations or other changes we
          make so that your content works better with the Application),
          communicate, publish, publicly perform, publicly display and
          distribute such content. This license shall not revert back to you
          even if it is not used by us. The rights you grant in this license are
          for the limited purpose of operating, promoting, and improving the
          Application, and to develop new ones. This license continues even if
          you stop using the Application.
        </p>
        <p>
          17. Payment and Taxes You acknowledge that third party support and
          services are required to process online fee payment. WHPL is not
          responsible for any loss or damage caused to you during this process
          as these third parties are beyond the control of WHPL. For abundant
          clarity, WHPL is also not liable for payment of any taxes to you.
        </p>
        <p>
          18. Disclaimers Any modification, development, maintenance or updating
          of the Application and any modification, transfer, license or
          assignment of the rights in the Application shall be done by WHPL as
          per its sole judgment and in its sole discretion. The Application
          provided by WHPL is provided &ldquo;as-is,&rdquo; as available, and
          without any warranties or conditions (express or implied, including
          the implied warranties of merchant-ability, accuracy, fitness for a
          particular purpose, title and non-infringement, arising by statute or
          otherwise in law or from a course of dealing or usage or trade).
        </p>
        <p>
          19. Limitation of Liability To the fullest extent permitted by law, in
          no event will WHPL or its contractors or agents or any of their
          directors, officers, employees, agents or content or service providers
          (collectively, the &ldquo;Protected Entities&rdquo;) be liable for any
          direct, indirect, special, incidental, punitive, exemplary or
          consequential damages (including, without limitation, loss of
          business, revenue, profits, goodwill) arising from, or directly or
          indirectly related to, the use of, reliance on, or the inability to
          use or rely on, the Application, materials and functions related
          thereto whether or not WHPL has been warned of the possibility of such
          damages or could have reasonably foreseen such damages. WHPL hereby
          expressly disclaims all statutory, express or implied warranties or
          conditions, including warranties or conditions of merchant-ability and
          fitness for a particular purpose or use, and all warranties implied
          from any course of dealing or performance or usage of trade.
        </p>
        <p>
          20. Governing Law and Jurisdiction By downloading the Application, you
          agree that the laws of India, without regard to the principles of
          conflict of law, will govern these terms and conditions and any
          dispute of any sort that might arise between you and WHPL shall
          exclusively be subject to the jurisdiction of the appropriate courts
          situated at Bangalore
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary loginButton ButtonFull"
          data-bs-dismiss="modal"
        >
          Accept & Close
        </button>
      </div>
    </div>
  </div>
</div>
