<footer class="footer-wrapper baseColor">
  <div class="container">
    <div class="row">
      <!-- COLUMNS 1 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-link">
          <h4 class="foot-title">About</h4>
          <p>
            Your 90% of patients don't turn up again if their appointment is not
            honoured.
            <a
              href="javascript:void(0)"
              [routerLink]="['aboutus']"
              class="fw-bold primary"
              >read more...</a
            >
          </p>
          <ul class="aon-socila-icon d-flex">
            <li>
              <a href="javascript:void(0)">
                <mat-icon
                  aria-hidden="false"
                  aria-label="facebook"
                  class="primary"
                  >facebook</mat-icon
                >
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;
          </ul>
        </div>
      </div>
      <!-- COLUMNS 2 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-cities">
          <h4 class="foot-title">Quick Links</h4>
          <ul>
            <li>
              <a href="javascript:void(0);" [routerLink]="['aboutus']">
                <i class="fa fa-info-circle icosize"></i>&nbsp;&nbsp;About</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar icosize"></i
                >&nbsp;&nbsp;Appointments</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-flask icosize"></i>&nbsp;&nbsp;Lab Test</a
              >
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-medkit icosize"></i>&nbsp;&nbsp;Pharmacy</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- COLUMNS 3 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-categories">
          <h4 class="foot-title">Links</h4>
          <ul>
            <li>
              <a href="javascript:void(0);" [routerLink]="['terms&conditions']"
                ><i class="fa fa-handshake icosize"></i>&nbsp;&nbsp;Terms &
                Conditions</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" [routerLink]="['terms&conditions']"
                ><i class="fa fa-user-secret icosize"></i>&nbsp;&nbsp;Privacy
                Policy</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" [routerLink]="['contact']"
                ><i class="fa fa-volume-control-phone icosize"></i
                >&nbsp;&nbsp;Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- COLUMNS 4 -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="foot-link footer-contact">
          <h4 class="foot-title">Address</h4>
          <p class="footeraddress">
            Weisermanner Healthcare Pvt Ltd,<br />
            No.3137, 7th main, HAL, 2nd Stage,<br />
            Indiranagar, Bengaluru,<br />
            Karnataka 560 008.<br />
            Phone: +91 81055 50944.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-line">
        <div class="aon-foo-copyright">
          <span>&copy; {{ year }} - Weisermanner. All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<button class="scroltop" style="display: inline-block" (click)="onActivate()">
  <span class="fa fa-angle-up" id="btn-vibrate"></span>
</button>
