@import "../../../../assets/styles/_variables.scss";
.footer-wrapper {
  background-color: $med-core;
  border-top: 1px solid #647772;
  color: #fff !important;
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 40px;
  .foot-title {
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    position: relative;
    color: #fff;
    &::after {
      position: absolute;
      left: 0px;
      bottom: 0px;
      content: "";
      width: 60px;
      height: 2px;
      background: $med-core2;
      display: table;
    }
  }
  .foot-link {
    margin-bottom: 30px;
    padding: 0 20px;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin: 8px 0;
        a {
          color: #fff;
          font-size: 14px;
          font-weight: normal;
          text-decoration: none;
          outline: none;
          list-style-type: none;
        }
      }
    }
  }
  .footer-bottom-line {
    border-top: 1px solid #aabcb7;
    color: #fff;
    padding-top: 30px;
    text-align: center;
  }
  .primary,
  .relative {
    color: $med-core2;
  }
}
