<div class="patient-initial container">
  <div class="row">
    <div fxHide.lt-md="true" class="docImg col-lg-6 align-items-center">
      <img
        src="assets/images/forgot.png"
        alt="Medpal"
        width="250"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-4 col-sm-10 signUp-form">
      <div class="logo">
        <img src="assets/images/medpallogo.png" alt="Medpal" />
        <h4 class="baseColor">Medpal.Live Forget Password</h4>
        <p class="text-muted">Enter your email to reset your password</p>
      </div>
      <form [formGroup]="resetForm" class="loginForm" autocomplete="off">
        <div class="login">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <mat-icon matPrefix class="form-icon">email</mat-icon>
              <input
                type="email"
                matInput
                formControlName="email"
                [ngClass]="{
                  'is-invalid': submitted && f.email.errors
                }"
                maxlength="100"
              />
            </mat-form-field>
            <div
              *ngIf="submitted && f.email.hasError('required')"
              class="custom-error"
            >
              Email is required
            </div>
            <div
              *ngIf="submitted && f.email.hasError('email')"
              class="custom-error"
            >
              Email must be a valid email address
            </div>
          </div>
          <div class="col-md-12">
            <span
              class="baseColor float-end"
              [routerLink]="['/medpal/patient/login']"
            >
              Login
            </span>
          </div>
          <div class="col-md-12 loginButton mb-5">
            <button mat-raised-button (click)="submit()" class="matbutton">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
