<div class="container-fluid bg">
  <div class="row p-5">
    <div class="col-md-6 text-justify">
      <h3 class="text-white maincolor">
        Contact <span class="medpal">Us</span>
      </h3>
      <p>Making your Hospital Better & your Business Happier :-)</p>
      <p>
        <span class="fw-bold">Weisermanner Healthcare Pvt Ltd</span>,<br />
        No.3137, 7th main, HAL, 2nd Stage,<br />
        Indiranagar, Bengaluru,<br />
        Karnataka 560 008.<br />
        <i class="fa fa-phone"></i> +91 81055 50944.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/landing_image.png"
        alt="Dell"
        class="img-fluid"
      />
    </div>
  </div>
</div>
