<div class="patient-initial container">
  <!-- <div class="loader" [hidden]="!enableLoader"></div> -->
  <div class="row">
    <div class="docImg col-lg-6" fxHide.lt-md="true">
      <img
        src="assets/images/doctorloginimg.png"
        alt="Medpal"
        width="500"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-4 col-sm-10 signUp-form pt-3">
      <div class="logo">
        <p><img src="assets/images/medpallogo.png" alt="Medpal" /></p>
        <h4 class="baseColor">Medpal.Live- Patient Registration</h4>
      </div>
      <form [formGroup]="signupForm" class="loginForm" autocomplete="off">
        <div class="login">
          <div class="col-md-12 email-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <mat-icon matPrefix class="form-icon">face</mat-icon>
              <input
                type="text"
                matInput
                formControlName="firstName"
                maxlength="60"
                autocomplete="off"
              />
            </mat-form-field>
            <div *ngIf="submitted && f.firstName.errors" class="custom-error">
              <div *ngIf="f.firstName.errors.required">
                First name is required.
              </div>
              <div *ngIf="f.firstName.errors.pattern">
                Nos & special characters is not allowed.
              </div>
              <div *ngIf="f.firstName.errors.minlength">
                First name requires 3 characters.
              </div>
            </div>
          </div>
          <div class="col-md-12 email-wrapper">
            <mat-form-field appearance="outline">
              <mat-label
                >Email Address<span class="spanitalics"> </span
              ></mat-label>
              <mat-icon matPrefix class="form-icon">email</mat-icon>
              <input
                type="email"
                matInput
                formControlName="email"
                autocomplete="off"
                maxlength="200"
              />
            </mat-form-field>
            <div
              class="custom-error"
              *ngIf="signupForm.controls['email'].errors?.pattern"
            >
              Email address is invalid
            </div>
          </div>
          <div class="col-md-12 flag-mobile">
            <mat-label>Mobile</mat-label>
            <ngx-intl-tel-input
              [cssClass]="'custom-flag-input'"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="false"
              [searchCountryFlag]="false"
              [onlyCountries]="preferredCountries"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.India"
              [maxLength]="10"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="mobile"
              formControlName="mobile"
              [ngClass]="{ 'is-invalid': signupForm.controls['mobile'].errors }"
              (countryChange)="resetmobilefield()"
            >
            </ngx-intl-tel-input>
            <div
              class="custom-error"
              *ngIf="submitted && signupForm.controls['mobile'].errors"
            >
              Invalid phone no...
            </div>
          </div>
          <div class="col-md-12 email-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
              <input
                [type]="showPassword ? 'text' : 'password'"
                matInput
                (input)="pwdMatch()"
                formControlName="password"
                maxlength="15"
              /><mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                showPassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </mat-form-field>
            <div
              class="custom-error"
              *ngIf="signupForm.controls['password'].errors?.minlength"
            >
              Password must be at least 6 characters
            </div>
          </div>
          <div class="col-md-12">
            <div
              [ngClass]="{
                'email-wrapper': true,
                'custom-error': !matchPassword
              }"
            >
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  matInput
                  (input)="pwdMatch()"
                  formControlName="confirmPwd"
                  maxlength="15"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                  showPassword ? "visibility" : "visibility_off"
                }}</mat-icon>
              </mat-form-field>
              <div
                class="custom-error"
                *ngIf="
                  !signupForm.controls['confirmPwd'].errors?.required &&
                  !matchPassword
                "
              >
                Password and confirm password do not match.
              </div>
            </div>
          </div>
          <div class="sub-actions col-md-12">
            <mat-checkbox color="primary" checked> I agree with </mat-checkbox
            ><a
              href="javascript:void(0)"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdroptc"
              ><span class="baseColor fw-bold"
                >&nbsp;terms and conditions</span
              ></a
            >
          </div>
          <div class="col-md-12 loginButton">
            <button mat-raised-button (click)="register()" class="ButtonFull">
              Register
            </button>
          </div>
          <div class="end">
            <p>
              Already have an account?
              <span class="baseColor" [routerLink]="['/patient/login']"
                >Sign in</span
              >.
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
