<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropAppointments"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" *ngIf="showtemplate">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="staticBackdropLabel">Book Appointment</h5> -->
        <div
          class="aon-form-top d-flex justify-content-between align-items-center"
        >
          <div class="aon-form-top-left d-flex">
            <div class="aon-form-doc-pic">
              <img
                *ngIf="doc.image.imageUrl"
                src="{{ doc.image.imageUrl }}"
                alt="Medpal"
              />
              <img
                *ngIf="!doc.image.imageUrl"
                src="../../../assets/images/user-doc.png"
                alt="Medpal"
              />
            </div>
            <div class="aon-form-doc-info">
              <strong>Booking Appointment to Dr. {{ doc.firstName }}</strong>
              &nbsp;
              <span
                *ngIf="doc.graduation.Graduation === 'PG'"
                class="fst-italic font-monospace"
              >
                ({{ doc.graduation.qualificationUG.sName }}
                -
                {{ doc.graduation.qualificationPG.sName }}
                -
                {{ doc.graduation.specialisationPG.name }})
              </span>
              <span
                *ngIf="doc.graduation.Graduation === 'UG'"
                class="fst-italic font-monospace"
              >
                ({{ doc.graduation.qualificationUG.sName }})
              </span>

              <span class="hm">{{ doc.graduation.DoctorType.name }}</span>
              <p *ngIf="doc.clinic1" class="hm">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ doc.ClinicOneTimings.ClinicLocation.address }}
              </p>
              <p *ngIf="doc.clinic2" class="hm">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ doc.ClinicTwoTimings.ClinicLocation.address }}
              </p>
            </div>
          </div>
          <div class="aon-form-top-right">
            <div class="aon-form-consul-free">
              <strong>&nbsp;&nbsp;Consulting Fee:</strong>
              <span *ngIf="doc.clinic1"
                ><strong
                  >&#8377; {{ doc.ClinicOneTimings.ConsultationFeesC1 }}</strong
                ></span
              >
              <span *ngIf="doc.clinic2"
                ><strong
                  >&#8377; {{ doc.ClinicTwoTimings.ConsultationFeesC1 }}</strong
                ></span
              >
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetForm(); stepper.reset()"
        ></button>
      </div>
      <div class="modal-body">
        <mat-stepper
          [linear]="true"
          #stepper
          (selectionChange)="stepperChange($event)"
        >
          <mat-step
            [stepControl]="firstFormGroup"
            [editable]="editable"
            errorMessage="Slot is required."
          >
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Available Slots</ng-template>
              <div class="container-fluid mt-2">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-3">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Choose Appointment Date</mat-label>
                      <input
                        id="appointdate"
                        matInput
                        [min]="minDate"
                        [max]="maxDate"
                        [matDatepicker]="picker"
                        [readonly]="true"
                        formControlName="appointmentDate"
                        (dateChange)="getDay($event)"
                      />
                      <mat-hint>DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div
                    class="d-flex justify-content-center"
                    *ngIf="finalTimeslot.length == 0 && timingSlotsFlag"
                  >
                    <div
                      class="alert alert-danger col-md-5 fw-bold text-center mt-3"
                      role="alert"
                    >
                      We regret for the inconvenience caused. <br />Our clinic
                      is not functioning today. Kindly select different date.
                    </div>
                  </div>
                  <mat-button-toggle-group
                    formControlName="slot"
                    aria-label="Available Slots"
                  >
                    <mat-button-toggle
                      (click)="slotToggle()"
                      *ngFor="let time of finalTimeslot"
                      [disabled]="time.disabled"
                      value="{{ time.Stime }}"
                      class="col-md-1 mattoggle"
                      >{{ time.Stime }}</mat-button-toggle
                    >
                  </mat-button-toggle-group>
                  <div class="mt-2">
                    <button
                      mat-button
                      matStepperNext
                      class="site-button"
                      (click)="checkvalFone()"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step
            [stepControl]="thirdFormGroup"
            [editable]="editable"
            errorMessage="Appointment details is required."
          >
            <ng-template matStepLabel>Fill out your details</ng-template>
            <form [formGroup]="secondFormGroup">
              <div
                *ngIf="!submitted && !loggedIn"
                class="row d-flex justify-content-center mt-4"
              >
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile No:(+91)</mat-label>
                    <mat-icon matPrefix> smartphone </mat-icon>
                    <input
                      matInput
                      formControlName="mobNo"
                      maxlength="10"
                      placeholder="Enter 10 digit without +91"
                      [ngClass]="{
                        'is-invalid': secSubmitted && t.mobNo.errors
                      }"
                    />
                    <mat-icon
                      matSuffix
                      matTooltip="+91- is not mandatory."
                      matTooltipPosition="above"
                      >info</mat-icon
                    >
                  </mat-form-field>
                  <div
                    *ngIf="secSubmitted && t.mobNo.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="t.mobNo.errors.required">
                      Mobile no is required
                    </div>
                    <div *ngIf="t.mobNo.errors.pattern">
                      Only numbers allowed
                    </div>
                    <div *ngIf="t.mobNo.errors.minlength">
                      Mobile no must have 10 digits
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div
                  class="col-md-3 mb-3"
                  *ngIf="isOtpVisible && secondFormGroup.valid"
                >
                  <mat-label>Enter OTP</mat-label>
                  <ng-otp-input
                    [formCtrl]="otpListCtrl"
                    [config]="config"
                  ></ng-otp-input>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 mt-3">
                  <span
                    *ngIf="disableOtpBtn"
                    matBadge="{{ timeLeft }}"
                    matBadgeOverlap="false"
                  ></span>
                  <button
                    mat-button
                    class="site-button"
                    (click)="sendOtp()"
                    [disabled]="secondFormGroup.invalid || disableOtpBtn"
                  >
                    {{ otpBtnText }}
                  </button>
                  &nbsp;&nbsp;
                  <button
                    mat-button
                    class="site-button"
                    (click)="submitOtp()"
                    *ngIf="disableOtpBtn"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <form [formGroup]="thirdFormGroup">
              <div
                *ngIf="submitted && loggedIn"
                class="row d-flex justify-content-center mt-4"
              >
                <div class="col-md-3 mb-3">
                  <mat-label class="bookforme">Book for Me&nbsp;</mat-label>
                  <mat-slide-toggle
                    color="primary"
                    formControlName="appointmentFor"
                    (change)="bookfortoggle($event.checked)"
                    >Book for Others</mat-slide-toggle
                  >
                </div>

                <div class="w-100"></div>
                <div class="col-md-3 mb-2">
                  <mat-form-field appearance="outline">
                    <mat-label
                      ><span *ngIf="g.appointmentFor.value === true"
                        >Patient</span
                      >
                      First Name</mat-label
                    >
                    <mat-icon matPrefix class="form-icon">face</mat-icon>
                    <input
                      type="text"
                      matInput
                      formControlName="firstName"
                      maxlength="40"
                      autocomplete="off"
                    />
                  </mat-form-field>
                  <div
                    *ngIf="submitted && g.firstName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="g.firstName.errors.required">
                      First name is required.
                    </div>
                    <div *ngIf="g.firstName.errors.pattern">
                      Nos & special characters is not allowed.
                    </div>
                    <div *ngIf="g.firstName.errors.minlength">
                      First name requires 3 characters.
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-2">
                  <mat-form-field appearance="outline">
                    <mat-label
                      ><span *ngIf="g.appointmentFor.value === true"
                        >Patient</span
                      >
                      Email Address<span class="spanitalics"> </span
                    ></mat-label>
                    <mat-icon matPrefix class="form-icon">email</mat-icon>
                    <input
                      type="email"
                      matInput
                      formControlName="email"
                      autocomplete="off"
                      maxlength="200"
                    />
                  </mat-form-field>
                  <div
                    *ngIf="submitted && g.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="g.email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="g.email.errors.pattern">
                      Email address is invalid
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label
                      ><span *ngIf="g.appointmentFor.value === true"
                        >Patient</span
                      >
                      Mobile No:(+91)</mat-label
                    >
                    <mat-icon matPrefix> smartphone </mat-icon>
                    <input
                      matInput
                      formControlName="primaryMobile"
                      maxlength="10"
                      placeholder="Enter 10 digit without +91"
                      [ngClass]="{
                        'is-invalid': submitted && g.primaryMobile.errors
                      }"
                    />
                    <mat-icon
                      matSuffix
                      matTooltip="+91- is not mandatory."
                      matTooltipPosition="above"
                      >info</mat-icon
                    >
                  </mat-form-field>
                  <div
                    *ngIf="submitted && g.primaryMobile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="g.primaryMobile.errors.required">
                      Mobile no is required
                    </div>
                    <div *ngIf="g.primaryMobile.errors.pattern">
                      Only numbers allowed
                    </div>
                    <div *ngIf="g.primaryMobile.errors.minlength">
                      Mobile no must have 10 digits
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-2 fw-bold text-uppercase font12">
                  Appointment Date:
                  <span class="appdatecolor fw-bold"
                    >{{ f.bookedDay.value }} - {{ f.bookedDate.value }} - Slot:
                    {{ f.slot.value }}</span
                  >
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-3">
                  <mat-checkbox
                    formControlName="confirmbooking"
                    color="primary"
                  >
                    Confirm Booking
                  </mat-checkbox>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                  <button
                    type="submit"
                    class="site-button"
                    (click)="submit()"
                    [disabled]="thirdFormGroup.invalid"
                  >
                    Book Now
                  </button>
                  &nbsp;&nbsp;
                  <button
                    type="button"
                    matStepperPrevious
                    class="btn btn-secondary float-end"
                  >
                    Back
                  </button>
                </div>
                <div class="w-100"></div>
              </div>
            </form>
            <div class="mt-5">
              <!--<button mat-button matStepperPrevious class="site-button">
                Back</button
              >&nbsp;&nbsp;
               <button
                mat-button
                matStepperNext
                class="site-button"
                (click)="checkval()"
              >
                Next
              </button> -->
            </div>
          </mat-step>
          <mat-step [isEditable]="isEditable" class="done">
            <ng-template matStepLabel>Done</ng-template>

            <div class="container">
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-6">
                  <p class="alert alert-success text-center">
                    <mat-icon class="material-symbols-outlined">
                      add_task
                    </mat-icon>
                    Appointment Booked Successfully....
                  </p>
                  <table class="table table-hover" *ngIf="appoinmentDetails">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2"># Appointment Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td style="width: 150px">
                          <i class="fa fa-user-plus icosize"></i> Doctor Name
                        </td>
                        <td>
                          Dr. {{ appoinmentDetails.firstName }}
                          <span
                            *ngIf="
                              appoinmentDetails.DocDetails.Graduation === 'PG'
                            "
                            class="fst-italic font-monospace"
                          >
                            ({{
                              appoinmentDetails.DocDetails.qualificationUG.sName
                            }}
                            -
                            {{
                              appoinmentDetails.DocDetails.qualificationPG.sName
                            }}
                            -
                            {{
                              appoinmentDetails.DocDetails.specialisationPG
                                .name
                            }})
                          </span>
                          <span
                            *ngIf="
                              appoinmentDetails.DocDetails.Graduation === 'UG'
                            "
                            class="fst-italic font-monospace"
                          >
                            ({{
                              appoinmentDetails.DocDetails.qualificationUG
                                .sName
                            }})
                          </span>
                          <span
                            *ngIf="appoinmentDetails.DocDetails.DoctorType"
                            class="fst-italic font-monospace"
                          >
                            - {{ appoinmentDetails.DocDetails.DoctorType.name }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <i class="fa fa-calendar icosize"></i> Date/Time
                        </td>
                        <td>
                          {{ appoinmentDetails.bookedDate }} -
                          {{ appoinmentDetails.bookedDay }} at
                          <strong>{{ appoinmentDetails.slot }}</strong>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <i class="fa fa-inr icosize"></i> Consultation Fees
                        </td>
                        <td>
                          <i class="fa fa-inr icosize"></i>
                          {{ appoinmentDetails.consultingFees }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <i class="fa fa-address-card icosize"></i> Clinic
                          Address
                        </td>
                        <td>
                          {{ appoinmentDetails.ClinicAddress.address }}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <i class="fa fa-map-marker icosize"></i>&nbsp;&nbsp;
                          <a
                            class="clinicloc"
                            href="https://maps.google.com/maps?q={{
                              appoinmentDetails.ClinicAddress.loc.y
                            }},{{ appoinmentDetails.ClinicAddress.loc.x }}"
                            target="_blank"
                            >View Clinic map location</a
                          >
                          &nbsp;&nbsp;&nbsp;
                          <button
                            type="button"
                            class="site-button"
                            data-bs-dismiss="modal"
                            (click)="resetForm(); stepper.reset()"
                          >
                            Go to doctors listing
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- <div>
              <button mat-button matStepperPrevious class="site-button">
                Back</button
              >&nbsp;&nbsp;
              <button
                mat-button
                (click)="stepper.reset(); resetForm()"
                class="site-button"
              >
                Reset
              </button>
            </div> -->
          </mat-step>
        </mat-stepper>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetForm(); stepper.reset()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
