<div class="container-fluid bg">
  <div class="row p-5">
    <div class="col-md-6">
      <h1 class="text-white maincolor aon-banner-heading">
        About <span class="medpal">Medpal</span>.Live
      </h1>

      <p>
        <img src="assets/images/medpallogo.png" class="img-fluid" width="200" />
      </p>
      <p>
        Your 90% of patients don't turn up again if their appointment is not
        honoured. In today's fast paced world respecting time is essential.
        Patients are increasingly preferring prior booked appointments than a
        walk in without a certain waiting period. Thus Lets understand that,
        Practice starts with robust appointments.
      </p>
      <p>
        Appointment starts with <br />
        - Clear display of Doctor's availability to patients at their
        convenience<br />
        - Option to book consultation slots suitable for patients<br />
        - Option to edit the slot in case of any emergency.
      </p>
      <p>
        <span class="fw-bold">Medpal.Live </span>provides you all of it and
        more. !! <br />
        <span class="fw-bold">Medpal.Live</span> is your 24x7 assistant - To
        display your clinic and consultation timings <br />
        - It helps patients to check on your availability <br />
        - To Let them book an appointment even for their family and friends
      </p>
      <p>
        <span class="fw-bold"
          >Medpal.Live benefits for Doctors and Healthcare Professionals</span
        >
        <br />
        24x7 appointment assistant <br />
        Better utilization of your consultation slots <br />
        Helps you to reach out to Local and International patients <br />
        Option to choose between a clinic visit or video consultation <br />
        No hassle of attending calls or hiring a receptionist just for
        appointments<br />
        Option to add and edit appointments <br />
        Medpal.Live benefits for Patients<br />
        No more call waiting <br />
        No more waiting for return calls <br />
        Option to see your doctor's availability any time at your convenience
        <br />
        Option to edit and change your slot <br />
        Option to book appointments for friends and family from anywhere.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/landing_image.png"
        alt="Dell"
        class="img-fluid"
      />
    </div>
  </div>
</div>
