<div class="container-fluid bg">
  <div class="row p-5">
    <div class="col-md-6">
      <h1 class="text-white maincolor aon-banner-heading mt-lg-5">
        Welcome To <b style="letter-spacing: 2.5px">Medpal</b>.Live<br />
      </h1>
      <p class="text-white pl-5 maincolor">
        All heathcare appointments in one place for you. Unleash the power and
        value with Us.
      </p>

      <p>
        <button
          *ngIf="!isLoggenIn"
          mat-raised-button
          color="primary"
          class="bannerbtn"
          [routerLink]="['/medpal/patient/login']"
        >
          My Login <i class="fa fa-user-plus icosize"></i>
        </button>

        <button
          *ngIf="isLoggenIn"
          mat-raised-button
          color="primary"
          class="bannerbtn"
          [routerLink]="['/medpal/patient/Appointments']"
        >
          My Appointments <i class="fa fa-user-plus icosize"></i>
        </button>

        &nbsp;&nbsp;&nbsp;
        <button
          mat-raised-button
          class="bannerbtn"
          color="primary"
          [routerLink]="['/medpal/doctors-listing/doctors']"
        >
          Book Appointments <i class="fa fa-calendar icosize"></i>
        </button>
      </p>
      <p class="m-5">
        <img src="assets/images/medpallogo.png" class="img-fluid" width="200" />
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/landing_image.png"
        alt="Dell"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<section class="aon-med-team-area aon-med-team-area1 bg-light-gray">
  <div class="container">
    <!--Title Section Start-->
    <div class="section-head center">
      <span class="aon-sub-title">Hospital Appointments</span>
      <h2 class="aon-title">Top Rated Doctors</h2>
      <p class="text-black">Coming Soon</p>
    </div>
    <!--Title Section End-->

    <div class="section-content">
      <div class="aon-med-team-section">
        <div class="row"></div>
      </div>

      <div class="aon-addmore-btn-section">
        <a href="javascript:void(0)" class="aon-addplus"
          ><i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<section class="aon-med-srv-cat-area bg-white">
  <div class="container">
    <!--Title Section Start-->
    <div class="section-head center">
      <span class="aon-sub-title">Categories</span>
      <h2 class="aon-title">Top Searched Specialties</h2>
      <!-- <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry the standard dummy text ever since the when an printer took.
      </p> -->
    </div>
    <!--Title Section End-->

    <div class="section-content">
      <div class="aon-med-srv-cat-section">
        <ul class="justify-content-center">
          <li>
            <!--one-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/1.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Primary Care</a></h4>
                <p>24 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--two-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/2.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Cardiology</a></h4>
                <p>27 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--three-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/3.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">MRI Resonance</a></h4>
                <p>47 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--four-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/4.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Blood Test</a></h4>
                <p>32 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--five-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/5.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Laboratory</a></h4>
                <p>45 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--six-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/6.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Dentistry</a></h4>
                <p>78 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--seven-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/7.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">X-Ray</a></h4>
                <p>45 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--eight-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/8.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Piscologist</a></h4>
                <p>35 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--nine-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/9.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Chiropractor</a></h4>
                <p>78 listing</p>
              </div>
            </div>
          </li>
          <li>
            <!--ten-->
            <div class="aon-med-sevices-cat aon-icon-effect">
              <div class="media">
                <span class="aon-icon">
                  <img src="../../../assets/images/s-category/10.png" alt="" />
                </span>
              </div>
              <div class="aon-med-serices-cat-info">
                <h4><a href="javascript:void(0)">Pediatrician</a></h4>
                <p>41 listing</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="aon-addmore-btn-section">
        <a href="javascript:void(0)" class="aon-addplus"
          ><i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<section class="aon-med-working-area bg-white">
  <div class="container">
    <!--Title Section Start-->
    <div class="section-head center">
      <span class="aon-sub-title">Working</span>
      <h2 class="aon-title">How Medpal Works</h2>
      <!-- <p class="text-black">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry the standard dummy text ever since the when an printer took.
      </p> -->
    </div>
    <!--Title Section End-->

    <div class="section-content">
      <div class="aon-med-working-section">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="aon-med-working aon-icon-effect">
              <div class="media">
                <span
                  ><img
                    class="aon-icon"
                    src="../../../assets/images/working-icon/1.png"
                    alt=""
                /></span>
              </div>
              <div class="aon-med-working-info">
                <h4>Find a Doctor</h4>
                <p>
                  This helps You to select the best doctor in your locality and
                  elsewhere
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="aon-med-working aon-icon-effect">
              <div class="media">
                <span
                  ><img
                    class="aon-icon"
                    src="../../../assets/images/working-icon/2.png"
                    alt=""
                /></span>
              </div>
              <div class="aon-med-working-info">
                <h4>Choose Your Schedule</h4>
                <p>
                  Helps You to choose the slot available for the next ten days
                  in a single click
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="aon-med-working aon-icon-effect">
              <div class="media">
                <span
                  ><img
                    class="aon-icon"
                    src="../../../assets/images/working-icon/3.png"
                    alt=""
                /></span>
              </div>
              <div class="aon-med-working-info">
                <h4>Make a Payment</h4>
                <p>
                  This helps us to determine which best service can be given to
                  You
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="aon-med-appoint-area">
  <div class="container">
    <!--Title Section Start-->
    <div class="section-head center white">
      <span class="aon-sub-title">Registration</span>
      <h2 class="aon-titleh2">Want to Make an Appointment Easily</h2>
      <p class="paragrapfont">
        Regain your health and mobility. Leave your pain behind. Do the things
        you love. Our team of health professionals is dedicated to providing you
        with the best medical solutions for your injury or condition. Our
        specialists collaborate to find pain treatments
      </p>
      <a
        href="javascript:void(0)"
        [routerLink]="['/medpal/doctors-listing/doctors']"
        class="site-button"
        >Book Now</a
      >
    </div>
    <!--Title Section End-->
    <div class="section-content">
      <div class="media animate-v">
        <img src="../../../assets/images/heart.png" alt="Medpal" />
      </div>
    </div>
  </div>
</section>

<section class="aon-med-faq-area bg-white">
  <div class="container">
    <!--Title Section Start-->
    <div class="section-head center">
      <span class="aon-sub-title">FAQs for Patients</span>
      <h2 class="aon-title">Frequently Ask Questions?</h2>
      <!-- <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry the standard dummy text ever since the when an printer took.
      </p> -->
    </div>
    <!--Title Section End-->

    <div class="section-content">
      <div class="aon-med-faq-section">
        <div class="accordion aon-med-faq" id="sf-faq-accordion">
          <!--One-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ1"
              aria-expanded="false"
            >
              Can I book an appointment behalf or someone else?
            </button>

            <div
              id="FAQ1"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>

          <!--Two-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ2"
              aria-expanded="false"
            >
              Do I need a referral to see a Physiotherapist?
            </button>

            <div
              id="FAQ2"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>

          <!--Three-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ3"
              aria-expanded="false"
            >
              Can I book an appointment behalf or someone else?
            </button>

            <div
              id="FAQ3"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>

          <!--Four-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ4"
              aria-expanded="false"
            >
              Do you have venue option for appointments?
            </button>

            <div
              id="FAQ4"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>

          <!--Five-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ5"
              aria-expanded="false"
            >
              Can I book an appointment behalf or someone else?
            </button>

            <div
              id="FAQ5"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>

          <!--Six-->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#FAQ6"
              aria-expanded="false"
            >
              Will I need a referral to see a Physiotherapist?
            </button>

            <div
              id="FAQ6"
              class="accordion-collapse collapse"
              data-bs-parent="#sf-faq-accordion"
            >
              <div class="accordion-body">
                Best service are provide us. simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
