<app-patient-menu></app-patient-menu>
<div class="container mt-5">
  <!-- <div class="loader" [hidden]="!enableLoader"></div> -->
  <div class="row">
    <div class="aon-admin-heading">
      <h3>Change Password</h3>
    </div>
    <div class="col-lg-4 col-sm-10 signUp-form">
      <form [formGroup]="resetForm" class="loginForm" autocomplete="off">
        <div class="login">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Current password</mat-label>
              <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
              <input
                type="password"
                matInput
                formControlName="currentPwd"
                maxlength="10"
                [ngClass]="{
                  'is-invalid': submitted && f.currentPwd.errors
                }"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>New password</mat-label>
              <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
              <input
                type="password"
                matInput
                formControlName="password"
                maxlength="10"
                [ngClass]="{
                  'is-invalid': submitted && f.password.errors
                }"
              />
            </mat-form-field>
            <div class="custom-error" *ngIf="f.password.hasError('minlength')">
              Password must be at least 6 characters
            </div>
          </div>
          <div class="col-md-12">
            <div [ngClass]="{ test: true, 'custom-error': !matchPassword }">
              <mat-form-field appearance="outline">
                <mat-label>Confirm new password</mat-label>
                <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                <input
                  type="password"
                  matInput
                  (input)="pwdMatch()"
                  formControlName="confirmPwd"
                  maxlength="10"
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmPwd.errors
                  }"
                />
              </mat-form-field>
              <span
                class="custom-error"
                *ngIf="
                  !resetForm.controls['confirmPwd'].errors?.required &&
                  !matchPassword
                "
              >
                Password and confirm password do not match.</span
              >
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button (click)="login()" class="matbutton">
              Change Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
