/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "bootstrap/dist/css/bootstrap-grid.css";
@import "./assets/styles/global";
//homepage

.maincolor,
.text-med {
  color: $med-core;
}
.mayIcowhite {
  color: #ffffff !important;
}

.matbutton {
  padding: 0 16px !important;
  margin-top: 10px;
  background: $med-core;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: none !important;
}
.uploadProgress {
  background-color: $med-core;
}
.custom-error {
  color: red;
}
