@use "@angular/material" as mat;
@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_themestyle.scss";
@import "@angular/material/theming";

// @font-face {
//     font-family: 'system-ui';
//     src: url('~assets/fonts/test.otf') format('opentype');
// }

/** Define a custom typography config that overrides the font-family as well as the `headlines` and `body-1` levels. **/
$custom-typography: mat.define-typography-config(
  $font-family: "system-ui",
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1:
    mat.define-typography-level(
      $font-size-base,
      $line-height-base,
      $font-medium
    ),
);

/** Override the typography in the core CSS.*/
@include mat.core($custom-typography);

// Hiding scrollbar
::-webkit-scrollbar {
  //width: 0;
}
// Global font family
body {
  font-family: "system-ui";
  margin: 0;
}
// Violet theme color
.baseColor {
  color: $med-core;
}
//loader styles
.loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("~assets/images/loader.gif") 50% 50% no-repeat transparent;
  // background-size: 200px 100px;
}

.centerAlign {
  text-align: center;
  align-items: center;
}

button.homebutton {
  width: 80% !important;
}

button.ButtonFull {
  width: 100% !important;
}
button.mat-raised-button {
  // padding: 6px;
  margin-top: 10px;
  background: $med-core;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.bannerbtn {
  font-size: 12px !important;
}
.mat-icon {
  color: $med-core;
}
.mat-simple-snackbar-action {
  color: $med-core2;
}
// Form material icon position
.form-icon {
  opacity: 0.7 !important;
  margin-right: 15px !important;
}
// email error message
.email-wrapper {
  .custom-error {
    position: relative;
    text-align: left !important;
    font-size: 13px;
    color: #f44336;
    top: -18px !important;
  }
}
// mobile number with country code
.custom-flag-input {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 90px !important;
}
.flag-mobile {
  margin-bottom: 20px;
  .iti {
    width: 100%;
  }
}
.iti input:visited {
  border: 1px solid #ccc !important;
}
.iti input#country-search-box {
  padding: 6px;
}
.country-dropdown,
.iti__flag-container {
  width: 100% !important;
}
// country styles end here
// Mobile side nav styles
.mat-drawer-container {
  background-color: #fff;
}
.mat-drawer {
  width: 80%;
  height: min-content;
}
// ends here
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #333333;
}
.mat-button.cdk-keyboard-focused .mat-button-focus-overlay {
  opacity: 0 !important;
}
.mat-tab-group.mat-primary
  .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: transparent !important;
}
.mat-form-field {
  width: 100%;
}
.custom-error {
  .mat-form-field-outline-thick {
    .mat-form-field-outline-start {
      border: 1px solid red;
      border-right: 0;
    }
    .mat-form-field-outline-end {
      border: 1px solid red;
      border-left: 0;
    }
  }
}
.mat-step-header:nth-of-type(3) {
  pointer-events: none !important;
}
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-start,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.12);
}
.mat-checkbox-layout .mat-checkbox-label {
  opacity: 0.8;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.dropdown-item:focus,
.dropdown-item:active,
.btn:focus,
.btn:active {
  background-color: #fff !important;
}
.timings {
  font-size: 12px !important;
  font-weight: bold !important;
  color: $med-green;
}
.capitalize {
  text-transform: capitalize !important;
}
.bgcore {
  background-color: $med-core3;
  color: #fff !important;
}

.mat-button-toggle-disabled {
  background-color: #eee !important;
  pointer-events: none !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.mat-step-icon .mat-icon {
  color: #fff !important;
}
.invalid-feedback {
  color: red !important;
  display: block !important;
  margin-top: -22px !important;
}
