@import "src/assets/styles/variables";
.bg-light {
  background-color: $med-core;
}
.example-spacer {
  flex: 1 1 auto;
}
.navbar-brand {
  font-weight: $font-medium;
}
.head-title {
  cursor: pointer !important;
}
.profiledropdown {
  margin-right: 100px !important;
}

.navbar-light .navbar-toggler-icon {
  background-color: $white;
  border-radius: 2px;
}
.navbar-brand,
.navbar li a {
  color: $white;
}
.dropdown-menu li a {
  color: $link-color;
}
.medpal-wrapper {
  padding-top: 55px;
  .top-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
    .pointer {
      top: 3px;
      position: relative;
    }
    .title {
      font-size: 22px;
    }
  }
  .med-content {
    background: $grey-color;
    min-height: 93vh !important;
  }
}
::ng-deep {
  .top-toolbar span.mat-button-wrapper {
    font-size: 16px;
  }
  .mob-menu {
    .mob-text-wrapper > a,
    .mob-text-wrapper > button {
      margin: 10px 35px;
    }
    .mat-button {
      text-align: left;
    }
  }
}
@media only screen and (max-width: 600px) {
  .bg-light {
    padding: 0 !important;
  }
}
