.capitalize {
  text-transform: capitalize !important;
}
.lsstyle {
  list-style: none;
  text-transform: capitalize !important;
}
.timeslot li h4 {
  font-size: 14px !important;
}
.timings2 {
  color: red;
}
