<div class="page-content" style="border-top: 1px solid #ddd">
  <!-- Left & right section -->
  <div class="aon-page-jobs-wrap" *ngIf="pushPage">
    <div class="container">
      <div class="row">
        <!-- Left part start -->
        <div class="col-lg-8">
          <!-- Doctor about -->
          <div class="aon-doctorAbout-wrap d-flex" id="aon-about-area">
            <div class="aon-doctorAbout-left">
              <div class="aon-doctorAbout-pic">
                <img
                  *ngIf="doc.image.imageUrl"
                  src="{{ doc.image.imageUrl }}"
                  alt="Medpal"
                />
                <img
                  *ngIf="!doc.image.imageUrl"
                  src="../../../assets/images/user-doc.png"
                  alt="Medpal"
                />
                <i class="fa fa-check icons feather-check"></i>
              </div>
              <div class="aon-doctorAbout-position">
                <i class="fa fa-graduation-cap fs-4 icocolor"></i>
                <span *ngIf="doc.graduation.Graduation === 'UG'">
                  <span> {{ doc.graduation.qualificationUG.sName }}</span>
                  - (General)
                </span>
                <span *ngIf="doc.graduation.Graduation === 'PG'">
                  <span
                    >{{ doc.graduation.qualificationPG.sName }} : ({{
                      doc.graduation.specialisationPG.name
                    }}) <br />
                    {{ doc.graduation.qualificationUG.sName }}
                  </span>
                </span>
              </div>
              <!-- <div class="aon-doctorAbout-location">
                <i class="feather-map-pin"></i>
                <span
                  class="capitalize"
                  *ngIf="doc.ClinicOneTimings.ClinicLocation.name"
                  >{{ doc.ClinicOneTimings.ClinicLocation.name }} dfgdfh</span
                >
              </div> -->
            </div>

            <div class="aon-doctorAbout-right">
              <div class="aon-doctorAbout-info">
                <h3 class="aon-doctorAbout-name capitalize">
                  Dr. {{ doc.firstName
                  }}<span *ngIf="doc.lastName" class="capitalize"
                    >&nbsp;{{ doc.lastName }}</span
                  >
                </h3>
                <div class="aon-doctorAbout-type">
                  <span *ngIf="doc.graduation.Graduation === 'UG'">
                    <span> {{ doc.graduation.qualificationUG.name }}</span>
                    - (General)
                  </span>
                  <span *ngIf="doc.graduation.Graduation === 'PG'">
                    <span>{{ doc.graduation.qualificationPG.name }} - </span>
                    ({{ doc.graduation.specialisationPG.name }})
                    <p>{{ doc.graduation.qualificationUG.name }}</p>
                  </span>
                </div>
                <div class="aon-doctorAbout-rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray-dark"></span>
                  <span class="aon-rating-lable">4.9 (45 Reviews)</span>
                </div>
                <div class="aon-doctorAbout-exper">
                  Overall Experience ({{ doc.graduation.overallExperience }}
                  years as Specialist)
                </div>
                <ul class="aon-doctorAbout-contat mb-4">
                  <li><i class="fa fa-envelope icons"></i> {{ doc.email }}</li>
                  <li>
                    <i class="fa fa-phone icons"></i> {{ doc.mobile.number }}
                  </li>
                </ul>

                <ul class="aon-doctorAddto-share">
                  <!-- <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-share icons"></i> Share</a
                    >
                  </li> -->
                  <li>
                    <i class="fa fa-map-marker"></i>
                    {{ doc.ClinicOneTimings.ClinicName }} -
                    {{ doc.ClinicOneTimings.clinicArea }}
                  </li>
                  <li *ngIf="doc.ClinicOneTimings.active">
                    <button
                      type="button"
                      class="site-button"
                      href="javascript:void(0)"
                      (click)="openModal(doc, 'clinic1')"
                    >
                      <i class="fa fa-calendar icons"></i> Book Appointment
                    </button>
                  </li>
                  <!-- <li
                    class="btn-group"
                    *ngIf="
                      doc.ClinicOneTimings.active && doc.ClinicTwoTimings.active
                    "
                  >
                    <button
                      type="button"
                      class="site-button dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-calendar"></i>
                      Book Appointment
                      <span class="badge bg-light text-dark"
                        >2 Clinics found</span
                      >
                    </button>
                    <ul class="dropdown-menu px-3">
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic1')"
                          >{{ doc.ClinicOneTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicOneTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicOneTimings.clinicArea }}</span
                          ></a
                        >
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a
                          class="dropdown-item capitalize"
                          href="javascript:void(0)"
                          (click)="openModal(doc, 'clinic2')"
                          >{{ doc.ClinicTwoTimings.ClinicName }}
                          <span
                            class="capitalize"
                            *ngIf="doc.ClinicTwoTimings.ClinicLocation.name"
                          >
                            -
                            {{ doc.ClinicTwoTimings.clinicArea }}</span
                          ></a
                        >
                      </li>
                    </ul>
                  </li> -->
                </ul>
                <div class="aon-doctorAbout-label text-center">
                  <span *ngIf="doc.graduation.DoctorType.name" class="">
                    <i class="fa fa-user-plus icosize"></i>
                    {{ doc.graduation.DoctorType.name }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Doctor about Endf-->

          <!--Doctor Education-->
          <div class="aon-doctoreducation-wrap" id="aon-education-area">
            <ul
              class="nav nav-pills mb-3 aon-custom-nav aon-doctor-tabs"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <div
                  class="nav-link active"
                  id="Experience"
                  data-bs-toggle="pill"
                  data-bs-target="#Experience-tabs"
                  role="tab"
                  aria-controls="Experience-tabs"
                  aria-selected="true"
                >
                  <h3>
                    <i class="fa fa-clock fs-5 icocolor"></i> Clinic Timings
                  </h3>
                </div>
              </li>
              <li class="nav-item" role="presentation">
                <div
                  class="nav-link"
                  id="Locations"
                  data-bs-toggle="pill"
                  data-bs-target="#Locationstabs"
                  role="tab"
                  aria-controls="Locationstabs"
                  aria-selected="false"
                >
                  <h3>
                    <i class="fa fa-book fs-5 icocolor"></i>
                    Education Training
                  </h3>
                </div>
              </li>
              <li class="nav-item" role="presentation">
                <div
                  class="nav-link"
                  id="Question_&amp;_Answer"
                  data-bs-toggle="pill"
                  data-bs-target="#QA-tabs"
                  role="tab"
                  aria-controls="QA-tabs"
                  aria-selected="false"
                >
                  <h3>
                    <i class="fa fa-briefcase fs-5 icocolor"></i> Experience
                  </h3>
                </div>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade active show"
                id="Experience-tabs"
                role="tabpanel"
                aria-labelledby="Experience"
              >
                <div class="container" *ngIf="doc.ClinicOneTimings.active">
                  <div class="row">
                    <div class="col-sm-6">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Monday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Monday"
                              >
                                {{ doc.ClinicOneTimings.MonStarttime }} -
                                {{ doc.ClinicOneTimings.MonEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Monday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Tuesday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Tuesday"
                              >
                                {{ doc.ClinicOneTimings.TueStarttime }} -
                                {{ doc.ClinicOneTimings.TueEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Tuesday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Wednesday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Wednesday"
                              >
                                {{ doc.ClinicOneTimings.WedStarttime }} -
                                {{ doc.ClinicOneTimings.WedEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Wednesday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Thursday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Thursday"
                              >
                                {{ doc.ClinicOneTimings.ThuStarttime }} -
                                {{ doc.ClinicOneTimings.ThuEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Thursday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Friday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Friday"
                              >
                                {{ doc.ClinicOneTimings.FriStarttime }} -
                                {{ doc.ClinicOneTimings.FriEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Friday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Saturday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Saturday"
                              >
                                {{ doc.ClinicOneTimings.SatStarttime }} -
                                {{ doc.ClinicOneTimings.SatEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Saturday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Sunday</td>
                            <td>
                              <span
                                class="timings"
                                *ngIf="doc.ClinicOneTimings.Sunday"
                              >
                                {{ doc.ClinicOneTimings.SunStarttime }} -
                                {{ doc.ClinicOneTimings.SunEndtime }}
                              </span>
                              <span
                                class="timings2"
                                *ngIf="!doc.ClinicOneTimings.Sunday"
                              >
                                Holiday
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <ul
                        class="timeslot m-0"
                        *ngIf="doc.ClinicOneTimings.active"
                      >
                        <li class="lsstyle">
                          <h3>
                            {{ doc.ClinicOneTimings.ClinicName }}
                          </h3>
                          <p>
                            <strong>Address:</strong>
                            {{ doc.ClinicOneTimings.ClinicLocation.address }}
                          </p>
                        </li>
                        <li>
                          <h4>
                            Monday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Monday"
                            >
                              {{ doc.ClinicOneTimings.MonStarttime }} -
                              {{ doc.ClinicOneTimings.MonEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Monday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Tuesday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Tuesday"
                            >
                              {{ doc.ClinicOneTimings.TueStarttime }} -
                              {{ doc.ClinicOneTimings.TueEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Tuesday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Wednesday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Wednesday"
                            >
                              {{ doc.ClinicOneTimings.WedStarttime }} -
                              {{ doc.ClinicOneTimings.WedEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Wednesday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Thursday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Thursday"
                            >
                              {{ doc.ClinicOneTimings.ThuStarttime }} -
                              {{ doc.ClinicOneTimings.ThuEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Thursday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Friday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Friday"
                            >
                              {{ doc.ClinicOneTimings.FriStarttime }} -
                              {{ doc.ClinicOneTimings.FriEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Friday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Saturday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Saturday"
                            >
                              {{ doc.ClinicOneTimings.SatStarttime }} -
                              {{ doc.ClinicOneTimings.SatEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Saturday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Sunday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicOneTimings.Sunday"
                            >
                              {{ doc.ClinicOneTimings.SunStarttime }} -
                              {{ doc.ClinicOneTimings.SunEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicOneTimings.Sunday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                      </ul> -->
                    </div>
                    <!-- <div class="col-sm-6">
                      <ul
                        class="timeslot m-0"
                        *ngIf="doc.ClinicTwoTimings.active"
                      >
                        <li class="lsstyle">
                          <h3>
                            {{ doc.ClinicTwoTimings.ClinicName }}
                          </h3>
                          <p>
                            <strong>Address:</strong>
                            {{ doc.ClinicTwoTimings.ClinicLocation.address }}
                          </p>
                        </li>
                        <li>
                          <h4>
                            Monday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Monday"
                            >
                              {{ doc.ClinicTwoTimings.MonStarttime }} -
                              {{ doc.ClinicTwoTimings.MonEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Monday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Tuesday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Tuesday"
                            >
                              {{ doc.ClinicTwoTimings.TueStarttime }} -
                              {{ doc.ClinicTwoTimings.TueEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Tuesday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Wednesday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Wednesday"
                            >
                              {{ doc.ClinicTwoTimings.WedStarttime }} -
                              {{ doc.ClinicTwoTimings.WedEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Wednesday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Thursday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Thursday"
                            >
                              {{ doc.ClinicTwoTimings.ThuStarttime }} -
                              {{ doc.ClinicTwoTimings.ThuEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Thursday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Friday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Friday"
                            >
                              {{ doc.ClinicTwoTimings.FriStarttime }} -
                              {{ doc.ClinicTwoTimings.FriEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Friday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Saturday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Saturday"
                            >
                              {{ doc.ClinicTwoTimings.SatStarttime }} -
                              {{ doc.ClinicTwoTimings.SatEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Saturday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                        <li>
                          <h4>
                            Sunday:
                            <span
                              class="timings"
                              *ngIf="doc.ClinicTwoTimings.Sunday"
                            >
                              {{ doc.ClinicTwoTimings.SunStarttime }} -
                              {{ doc.ClinicTwoTimings.SunEndtime }}
                            </span>
                            <span
                              class="timings2"
                              *ngIf="!doc.ClinicTwoTimings.Sunday"
                            >
                              Holiday
                            </span>
                          </h4>
                        </li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="Locationstabs"
                role="tabpanel"
                aria-labelledby="Locations"
              >
                <ul class="aon-award-list">
                  <li *ngIf="doc.graduation.Graduation === 'UG'">
                    <p>
                      {{ doc.graduation.qualificationUG.sName }}
                      <span class="capitalize"
                        >{{ doc.graduation.CollegeUG }} -
                        {{ doc.graduation.CompletionYearUG }}</span
                      >
                    </p>
                  </li>
                  <li *ngIf="doc.graduation.Graduation === 'PG'">
                    <p>
                      {{ doc.graduation.qualificationUG.sName }} -
                      <span class="capitalize"
                        >{{ doc.graduation.CollegeUG }} -
                        {{ doc.graduation.CompletionYearUG }}</span
                      >
                    </p>
                    <p>
                      {{ doc.graduation.qualificationPG.sName }} - ({{
                        doc.graduation.specialisationPG.name
                      }})
                      <span class="capitalize"
                        >- {{ doc.graduation.CollegePG }} -
                        {{ doc.graduation.CompletionYearPG }}</span
                      >
                    </p>
                  </li>
                </ul>
              </div>
              <div
                class="tab-pane fade"
                id="QA-tabs"
                role="tabpanel"
                aria-labelledby="Question_&amp;_Answer"
              >
                <!-- Award List-->
                <div class="sf-doc-exp-list">
                  <ul class="sf-doc-exp-list-detail">
                    <li>
                      <span
                        ><b class="list-title">Experience: </b>
                        {{ doc.graduation.overallExperience }} Years Experience
                        Overall.
                      </span>
                    </li>
                    <li>
                      <div
                        class="aon-doctorAbout-text"
                        *ngIf="doc.services"
                        [innerHTML]="doc.services"
                        style="text-transform: capitalize; font-size: 14px"
                      ></div>
                    </li>
                  </ul>
                </div>
                <!-- Award List End-->
              </div>
            </div>
          </div>

          <!-- Doctor about -->
          <div class="aon-doctorReview-wrap d-flex">
            <div class="aon-doctorReview-left">
              <div class="aon-doctorTotal-rating">
                <div class="aon-docRating-title">Overall rating</div>
                <div class="aon-docRating-num">4.85</div>
                <div class="aon-docRating-rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star text-gray-dark"></span>
                </div>
                <div class="aon-docRating-total">45 reviews</div>
              </div>
            </div>

            <div class="aon-doctorReview-right">
              <h3><i class="fa fa-child fs-2 icocolor"></i> Recent reviews</h3>
              <!-- Award List-->
              <ul class="aon-docReview-list">
                <li>
                  <p>
                    We would like to let you know how much we appreciate the
                    special care our daughter was given by the doctor and staff
                    at your clinic. Our baby's physician was professional, kind,
                    understanding, and her treatment was "right on." Your clinic
                    should be proud to have such kind hearted people. They made
                    sure that my daughter's hospitalization was very
                    pleasant....
                  </p>
                  <div class="aon-docReview-meta">
                    Initials hidden | July 27, 2022
                  </div>
                </li>
                <li>
                  <p>
                    I am writing on behalf of my brother who was a patient in
                    your clinic. I would like to thank you on behalf of my
                    entire family for the help and consideration shown to me in
                    what was a very difficult time. Again, I would like to thank
                    you for the services you provide to patients and their
                    families.
                  </p>
                  <div class="aon-docReview-meta">
                    Initials hidden | July 27, 2022
                  </div>
                </li>
              </ul>
              <!-- Award List End-->
              <!-- <button class="site-button">Read More Reviews</button> -->
            </div>
          </div>
          <!-- Doctor about Endf-->

          <!--Location-->
          <div class="aon-docLocation-wrap" #doclocation>
            <h3 class="mb-4">
              <i class="fa fa-map fs-2 icocolor"></i> Location
            </h3>
            <div class="sf-doc-location">
              <div class="row mb-5" *ngIf="doc.ClinicOneTimings.active">
                <div class="col-lg-6">
                  <ul class="sf-doc-contacts">
                    <li>
                      <span class="capitalize"
                        >{{ doc.ClinicOneTimings.ClinicName }}
                      </span>

                      <p>
                        <strong>Address:</strong>
                        {{ doc.ClinicOneTimings.ClinicLocation.address }}
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <i class="fa fa-map-marker fs-2 icocolor"></i> &nbsp;&nbsp;
                  <a
                    mat-button
                    color="primary"
                    class="fw-bold text-decoration-underline"
                    href="https://maps.google.com/maps?q={{
                      doc.ClinicOneTimings.ClinicLocation.loc.y
                    }},{{ doc.ClinicOneTimings.ClinicLocation.loc.x }}"
                    target="_blank"
                  >
                    View Clinic map location
                  </a>
                </div>
              </div>
              <!-- <div class="row" *ngIf="doc.ClinicTwoTimings.active">
                <div class="col-lg-6">
                  <ul class="sf-doc-contacts">
                    <li>
                      <span class="capitalize">
                        {{ doc.ClinicTwoTimings.ClinicName }}</span
                      >

                      <p>
                        <strong>Address:</strong>
                        {{ doc.ClinicTwoTimings.ClinicLocation.address }}
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <i class="fa fa-map-marker fs-2 icocolor"></i> &nbsp;&nbsp;
                  <a
                    mat-button
                    color="primary"
                    class="fw-bold text-decoration-underline"
                    href="https://maps.google.com/maps?q={{
                      doc.ClinicTwoTimings.ClinicLocation.loc.y
                    }},{{ doc.ClinicTwoTimings.ClinicLocation.loc.x }}"
                    target="_blank"
                  >
                    View Clinic map location
                  </a>
                </div>
              </div> -->
            </div>
          </div>

          <!--Patient Exp Info-->
          <div class="aon-docPexpi-wrap" id="aon-reviews-area">
            <h3 class="mb-4">
              <i class="fa fa-comments fs-2 icocolor"></i> Patient Experience
            </h3>
            <div class="sf-patient-exp-list">
              <ul>
                <li>
                  <div class="sf-patient-exp-body">
                    <div class="sf-patient-exp-head">
                      <div class="sf-pat-left">
                        <span class="sf-patient-exp-name"> Sam Matthew </span>
                        <div class="sf-medi-rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-half-full"></span>
                          <span class="sf-rating-lable">(4/5)</span>
                        </div>
                      </div>
                      <span class="sf-patient-exp-date">07 Sep</span>
                    </div>
                    <p>
                      "Your practice is great. The services you provide are
                      incredible and the patient experience you provide is like
                      nothing else. You know these to be true, but are they
                      known locally, nationally, or globally?"
                    </p>
                  </div>
                </li>
                <li>
                  <div class="sf-patient-exp-body">
                    <div class="sf-patient-exp-head">
                      <div class="sf-pat-left">
                        <span class="sf-patient-exp-name"> Joy </span>
                        <div class="sf-medi-rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-half-full"></span>
                          <span class="sf-rating-lable">(4/5)</span>
                        </div>
                      </div>
                      <span class="sf-patient-exp-date">07 Mar</span>
                    </div>
                    <p>
                      "If you provide better care at a lower cost, that's
                      something you need to let prospective clients know while
                      they're researching where to go for an appointment."
                    </p>
                  </div>
                </li>
                <li>
                  <div class="sf-patient-exp-body">
                    <div class="sf-patient-exp-head">
                      <div class="sf-pat-left">
                        <span class="sf-patient-exp-name"> Gopi </span>
                        <div class="sf-medi-rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-half-full"></span>
                          <span class="sf-rating-lable">(3/5)</span>
                        </div>
                      </div>
                      <span class="sf-patient-exp-date">09 Apr</span>
                    </div>
                    <p>
                      "You have been outstandingly helpful and provided a high
                      quality of service, care and comfort to my spouse. Thank
                      you."
                    </p>
                  </div>
                </li>
                <li>
                  <div class="sf-patient-exp-body">
                    <div class="sf-patient-exp-head">
                      <div class="sf-pat-left">
                        <span class="sf-patient-exp-name"> Praba </span>
                        <div class="sf-medi-rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-half-full"></span>
                          <span class="sf-rating-lable">(3/5)</span>
                        </div>
                      </div>
                      <span class="sf-patient-exp-date">07 Feb</span>
                    </div>
                    <p>
                      "I want to thank You for taking care of me. I loved my
                      experience at your hospital and would recommend this
                      hospital to family and friends. Keep up the phenomenal
                      work"
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Left part END -->

        <!-- Side bar start -->
        <div class="col-lg-4">
          <aside class="aon-side-bar">
            <!-- About Me -->
            <ul class="aon-siderbar-nav">
              <li><a href="#aon-about-area">About Me</a></li>
              <li>
                <a href="#aon-education-area">Education &amp; Training</a>
              </li>
              <li><a href="#aon-education-area">Experience</a></li>
              <!--<li><a href="#aon-languages-area">Languages</a></li>
              <li><a href="#aon-ques-ans-area">Question &amp; Answer</a></li> -->
              <li>
                <a href="javascript:void(0);" (click)="scroll(doclocation)"
                  >Locations</a
                >
              </li>
              <li><a href="#aon-reviews-area">Reviews</a></li>
            </ul>
            <!-- About Me End-->

            <!--time table-->
            <div class="sf-doc-timeing-card p-a30">
              <div
                class="aon-consultancy-free d-flex justify-content-between align-items-center"
              >
                <h3 class="aon-consultancy-title">
                  <i class="fa fa-credit-card fs-4 icocolor"></i> Consulting Fee
                </h3>
                <span class="aon-consultancy-price"
                  >₹
                  {{
                    doc.ClinicOneTimings.ConsultationFeesC1
                      ? doc.ClinicOneTimings.ConsultationFeesC1
                      : "Not Mentioned"
                  }}</span
                >
              </div>
              <!-- <ul
                class="nav nav-pills mb-3 aon-custom-nav sf-doc-timeing-card-nav"
                id="pills-tab"
                role="tablist"
              >
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-home"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    Today<span>31 May</span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-profile-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                  >
                    Tomorrow<span>01 June</span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-contact-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-contact"
                    type="button"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                  >
                    More Date<span>See Calender</span>
                  </button>
                </li>
              </ul> -->
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                >
                  <div
                    class="sf-doc-timing-slots"
                    *ngIf="doc.ClinicOneTimings.active"
                  >
                    <div class="row mb-3">
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Monday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.MonStarttime }} -
                            {{ doc.ClinicOneTimings.MonEndtime }}
                          </span>
                          <p>Monday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Monday"
                        >
                          <span> Holiday </span>
                          <p>Monday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Tuesday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.TueStarttime }} -
                            {{ doc.ClinicOneTimings.TueEndtime }}
                          </span>
                          <p>Tuesday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Tuesday"
                        >
                          <span> Holiday </span>
                          <p>Tuesday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Wednesday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.WedStarttime }} -
                            {{ doc.ClinicOneTimings.WedEndtime }}
                          </span>
                          <p>Wednesday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Wednesday"
                        >
                          <span> Holiday </span>
                          <p>Wednesday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Thursday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.ThuStarttime }} -
                            {{ doc.ClinicOneTimings.ThuEndtime }}
                          </span>
                          <p>Thursday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Thursday"
                        >
                          <span> Holiday </span>
                          <p>Thursday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Friday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.FriStarttime }} -
                            {{ doc.ClinicOneTimings.FriEndtime }}
                          </span>
                          <p>Friday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Friday"
                        >
                          <span> Holiday </span>
                          <p>Friday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Saturday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.SatStarttime }} -
                            {{ doc.ClinicOneTimings.SatEndtime }}
                          </span>
                          <p>Saturday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Saturday"
                        >
                          <span> Holiday </span>
                          <p>Saturday</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="sf-doc-timing-slots-detail"
                          *ngIf="doc.ClinicOneTimings.Sunday"
                        >
                          <span>
                            {{ doc.ClinicOneTimings.SunStarttime }} -
                            {{ doc.ClinicOneTimings.SunEndtime }}
                          </span>
                          <p>Sunday</p>
                        </div>
                        <div
                          class="sf-doc-timing-slots-detail active"
                          *ngIf="!doc.ClinicOneTimings.Sunday"
                        >
                          <span> Holiday </span>
                          <p>Sunday</p>
                        </div>
                      </div>
                    </div>
                    <div class="sf-doc-timing-slots-btn mt-0 pt-2">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <i class="fa fa-map-marker"></i>
                          {{ doc.ClinicOneTimings.ClinicName }} -
                          {{ doc.ClinicOneTimings.clinicArea }}
                        </div>
                        <div class="w-100"></div>
                        <div class="col-lg-12">
                          <a
                            href="javascript:void(0)"
                            (click)="openModal(doc, 'clinic1')"
                            *ngIf="doc.ClinicOneTimings.active"
                            class="site-button"
                          >
                            <i class="fa fa-calendar"></i> Book Appointment
                          </a>
                        </div>
                      </div>
                      <!-- <div
                        class="btn-group"
                        *ngIf="
                          doc.ClinicOneTimings.active &&
                          doc.ClinicTwoTimings.active
                        "
                      >
                        <button
                          type="button"
                          class="site-button dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fa fa-calendar"></i> Book Appointment
                          <span class="badge bg-light text-dark"
                            >2 Clinics found</span
                          >
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item capitalize"
                              href="javascript:void(0)"
                              (click)="openModal(doc, 'clinic1')"
                              >{{ doc.ClinicOneTimings.ClinicName }}
                              <span
                                class="capitalize"
                                *ngIf="doc.ClinicOneTimings.ClinicLocation.name"
                              >
                                -
                                {{ doc.ClinicOneTimings.clinicArea }}</span
                              ></a
                            >
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          <li>
                            <a
                              class="dropdown-item capitalize"
                              href="javascript:void(0)"
                              (click)="openModal(doc, 'clinic2')"
                              >{{ doc.ClinicTwoTimings.ClinicName }}
                              <span
                                class="capitalize"
                                *ngIf="doc.ClinicTwoTimings.ClinicLocation.name"
                              >
                                -
                                {{ doc.ClinicTwoTimings.clinicArea }}</span
                              ></a
                            >
                          </li>
                        </ul>
                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                  <div class="sf-doc-timing-slots">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="sf-doc-timing-slots-detail active">
                          <span>9AM - 12PM</span>
                          <p>0 available</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="sf-doc-timing-slots-detail">
                          <span>9AM - 12PM</span>
                          <p>0 available</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="sf-doc-timing-slots-detail">
                          <span>9AM - 12PM</span>
                          <p>0 available</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="sf-doc-timing-slots-detail">
                          <span>9AM - 12PM</span>
                          <p>0 available</p>
                        </div>
                      </div>
                    </div>
                    <div class="sf-doc-timing-slots-btn">
                      <a href="javascript:void(0);" class="site-button red">
                        <i class="fa fa-trash"></i>Cancel
                      </a>
                      <a href="javascript:void(0);" class="site-button">
                        <i class="fa fa-calendar-o"></i>Schedule
                      </a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- Time Me End-->
          </aside>
        </div>
        <!-- Side bar END -->
      </div>
    </div>
  </div>
  <!-- Left & right section  END -->
</div>
<appointments [data]="inputToChild"></appointments>
